<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Welcome to admin dashboard of
        <%=school%>
    </h1>

    <h3>No. of Students : <%= no_student %> </h3>
    <h3>No. of Professor : <%= no_professor %> </h3>
    <h3>No. of Courses :<%= courses.length %>  </h3>

    <form method="POST" id="create_course">
        <button type="submit" name="button" value="createcourse">Create Course</button>
    </form>

    <form method="POST" id="create_prof">
        <button type="submit" name="button" value="createprof">Create Professor</button>
    </form>

    <form method="POST" id="create_student">
        <button type="submit" name="button" value="createstudent">Create Student</button>
    </form>

    <form action="/<%=school%>" method="POST" id="logout">
        <button type="submit" name="button" value="logout">Logout</button>
    </form>

    <form action="/<%=school%>/reset_password" method="GET" id="logout">
        <button type="submit" name="button">Reset Password</button>
    </form>

    <h4>Courses</h4>

    <%courses.forEach(function(course){%>
        <a href="/<%=school%>/admin/courses/<%=course.coursename%>">
            <%=course.coursename%><br>
        </a>
        <%})%>
</body>

</html>