<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Couse Content</title>
</head>
<body>
    <h1>Welcome to <%=found.coursename%></h1>
    <h4>Contents</h4>
    <% found.items.forEach(function(item){ %>
        <label><%= item.name %></label>
        <form action="/<%=school%>/download/<%= item.name %>.<%= item.extension %>/<%= item.google_id %>" method="POST">
            <button type="submit"> download </button>
        </form>
        <hr>
    <% }) %>

    <h4>assignments</h4>
    <% found.assignments.forEach(function(item){ %>
        <label><%= item.name %></label>
        <form action="/<%=school%>/download/<%= item.name %>.<%= item.extension %>/<%= item.google_id %>" method="POST">
            <button type="submit"> download </button>
        </form>
        <form action="/<%=school%>/<%=courseid%>/<%=item._id%>/viewsubmission" method="GET">
            <button type="submit">View Submissions</button>
        </form>
        <hr>
    <% }) %>

    <h4>Professors</h4>
        <%professors.forEach(function(profs){%>
            <%=profs%><br>
        <% })%>
    
    <h4>Students</h4>
        <%students.forEach(function(student){%>
            <%=student%><br>
        <% })%>

    <h4>Course Events</h4>
        <%found.event.forEach(function(evt){%>
            <%=evt%><br>
        <% })%>

    <form action="/<%=school%>/<%=found._id%>/add_course_cont" method="GET">
        <button type="submit">Add content</button>
    </form>

    <form action="/<%=school%>/<%=found._id%>/delete_course_cont" method="GET">
        <button type="submit">Delete content</button>
    </form>

    <form action="/<%=school%>/<%=found._id%>/create_course_event" method="GET">
        <button type="submit">Create Event</button>
    </form>

    <form action="/<%=school%>/<%=found._id%>/delete_course_event" method="GET">
        <button type="submit">Delete Event</button>
    </form>

    <form action="/<%=school%>/professor/dashboard" method="GET">
        <button type="submit">dashboard</button>
    </form>
</body>
</html>