<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Couse Content</title>
</head>
<body>
    <h1>Welcome to <%=found.coursename%></h1>

    <h4>Contents</h4>
    <% found.items.forEach(function(item){ %>
        <label><%= item.name %></label>
        <form action="/<%=school%>/download/<%= item.name %>.<%= item.extension %>/<%= item.google_id %>" method="POST">
            <button type="submit"> download </button>
        </form>
    <hr>
    <%}) %>

    <h4>assignments</h4>
    <% found.assignments.forEach(function(item){ %>
        <label><%= item.name %></label>
        <label>deadline: <%=item.deadline.toDateString()%>  <%=item.deadline.toTimeString()%></label>
        <form action="/<%=school%>/download/<%= item.name %>.<%= item.extension %>/<%= item.google_id %>" method="POST">
            <button type="submit"> download </button>
        </form>
        <% var flag = 0 ;item.submissions.forEach(function(submission){ %>
            <%if(submission.studentid == user._id){ flag = 1; if(item.deadline > date){%>
                <form action="/<%=school%>/<%=courseid%>/<%=item._id%>/unsubmit" method="GET">
                    <button type="submit">Unsubmit</button>
                </form>
                <%}%>
                <%if(submission.subType == "drive"){%>
                    <form action="/<%=school%>/download/<%= submission.name %>.<%= submission.extension %>/<%= submission.googleid %>" method="POST">
                        <button>View submission</button>
                    </form>
                <%} else {%>
                    <a href="<%=submission.link%>" target="_blank">view_submissions</a>
            <%}}%>
        <%})%>
        <%if(flag==0 && item.deadline > new Date()){%>
            <form action="/<%=school%>/<%=courseid%>/<%=item._id%>/submitassignment" method="GET">
                <button type="submit">Submit</button>
            </form>
        
    <% }%>
    <hr>
    <%}) %>        

    <h4>Professors</h4>
    <%professors.forEach(function(profs){%>
        <%=profs%><br>
            <% })%>
    
    <h4>Students</h4>
    <%students.forEach(function(student){%>
        <%=student%><br>
    <% })%>


    <h4>Course Events</h4>
        <%found.event.forEach(function(evt){%>
            <%=evt%><br>
        <% })%>
        <br>
    <form action="/<%=school%>/student/dashboard" method="GET">
        <button type="submit">dashboard</button>
    </form>

</body>
</html>