<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Profile - Brand</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/dashboard.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/fontawesome5-overrides.min.css">
    
    <link rel="stylesheet" href="/css/forgot-password.css">

</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                <div class="sidebar-brand-text mx-3" style="text-transform: capitalize !important;"><span>Schudle</span></div>
            </a>
                <hr class="sidebar-divider my-0">
                <% if(info.role == "admin") { %> 
                    <ul class="nav navbar-nav text-light" id="accordionSidebar">
                        <li class="nav-item"><a class="nav-link" href="/<%=school%>/admin/dashboard"><i
                                    class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                        <li class="nav-item"><a class="nav-link active" href="/<%=school%>/profile"><i
                                    class="fas fa-user"></i><span>Profile</span></a></li>
                    </ul>
                <% } else if(info.role == "professor") { %> 
                    <ul class="nav navbar-nav text-light" id="accordionSidebar">
                        <li class="nav-item"><a class="nav-link" href="/<%=school%>/professor/dashboard"><i
                                    class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                        <li class="nav-item"><a class="nav-link active" href="/<%=school%>/profile"><i
                                    class="fas fa-user"></i><span>Profile</span></a></li>
                    </ul>
                <% } else if(info.role == "student") { %> 
                    <ul class="nav navbar-nav text-light" id="accordionSidebar">
                        <li class="nav-item"><a class="nav-link" href="/<%=school%>/student/dashboard"><i
                                    class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                        <li class="nav-item"><a class="nav-link active" href="/<%=school%>/profile"><i
                                    class="fas fa-user"></i><span>Profile</span></a></li>
                <% } %> 

                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"><i class="fas fa-arrows-alt-h"></i></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3"
                            id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <div class="mr-auto ml-md-3 my-2 my-md-0 mw-100 text-lg text-uppercase" style="color: #61128c;">
                            <strong><%=schoolname%></strong></div>
                        <ul class="nav navbar-nav flex-nowrap ml-auto">
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link"
                                        data-toggle="dropdown" aria-expanded="false" href="#">
                                        <span class="d-none d-lg-inline mr-2 text-gray-600 small">
                                            <%=info.firstname + " " + info.lastname%>
                                        </span>
                                        <img class="border rounded-circle img-profile"
                                            src="data:image/<%=info.profileimg.contentType%>;base64,
                                            <%=info.profileimg.data.toString('base64')%>"></a>
                                    <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in"><a
                                            class="dropdown-item" href="/<%=school%>/profile"><i
                                                class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profile</a>
                                        <div class="dropdown-divider"></div>
                                        <form action="/<%=school%>" method="POST" id="logout"><button
                                                class="dropdown-item" type="submit" name="button" value="logout"><i
                                                    class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</button>
                                        </form>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    <h3 class="text-dark mb-4">Profile</h3>
                    <div class="row mb-3">
                         <div class="col-lg-4">
                            <div class="card mb-3">
                                <div class="card-body text-center shadow"><img class="rounded-circle mb-3 mt-4" src="data:image/<%=info.profileimg.contentType%>;base64,
                                    <%=info.profileimg.data.toString('base64')%>" width="160" height="160">
                                    <div class="mb-3">
                                        <form action="/<%=school%>/profile/change_photo" method="GET">
                                            <button class="btn btn-primary btn-sm" type="submit" >Change Photo</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="text-primary font-weight-bold m-0">Projects</h6>
                                </div>
                                <div class="card-body">
                                    <h4 class="small font-weight-bold">Server migration<span class="float-right">20%</span></h4>
                                    <div class="progress progress-sm mb-3">
                                        <div class="progress-bar bg-danger" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;"><span class="sr-only">20%</span></div>
                                    </div>
                                    <h4 class="small font-weight-bold">Sales tracking<span class="float-right">40%</span></h4>
                                    <div class="progress progress-sm mb-3">
                                        <div class="progress-bar bg-warning" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;"><span class="sr-only">40%</span></div>
                                    </div>
                                    <h4 class="small font-weight-bold">Customer Database<span class="float-right">60%</span></h4>
                                    <div class="progress progress-sm mb-3">
                                        <div class="progress-bar bg-primary" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"><span class="sr-only">60%</span></div>
                                    </div>
                                    <h4 class="small font-weight-bold">Payout Details<span class="float-right">80%</span></h4>
                                    <div class="progress progress-sm mb-3">
                                        <div class="progress-bar bg-info" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"><span class="sr-only">80%</span></div>
                                    </div>
                                    <h4 class="small font-weight-bold">Account setup<span class="float-right">Complete!</span></h4>
                                    <div class="progress progress-sm mb-3">
                                        <div class="progress-bar bg-success" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"><span class="sr-only">100%</span></div>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <div class="col-lg-8">
                            <div class="row mb-3 d-none">
                                <div class="col">
                                    <div class="card text-white bg-primary shadow">
                                        <div class="card-body">
                                            <div class="row mb-2">
                                                <div class="col">
                                                    <p class="m-0">Peformance</p>
                                                    <p class="m-0"><strong>65.2%</strong></p>
                                                </div>
                                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                            </div>
                                            <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card text-white bg-success shadow">
                                        <div class="card-body">
                                            <div class="row mb-2">
                                                <div class="col">
                                                    <p class="m-0">Peformance</p>
                                                    <p class="m-0"><strong>65.2%</strong></p>
                                                </div>
                                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                            </div>
                                            <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="card shadow mb-3">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 font-weight-bold">User Settings</p>
                                        </div>
                                        <div class="card-body">
                                                <div class="row">
                                                    <div class="col-6">
                                                        <div class=""><strong>Username</strong><h6 class="form-control" ><%= info.username %> </p></div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class=""><strong>Email Address</strong><p class="form-control"><%= info.email  %> </p></div>
                                                    </div>
                                                </div>   
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <div class=""><strong>First Name</strong><p class="form-control"><%= info.firstname %> </p></div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class=""><strong>Last Name</strong><p class="form-control"><%= info.lastname %> </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                    
                                                        <a href="#" data-bs-toggle="modal" data-bs-target="#Modal2"><button class="btn btn-primary btn-sm" type="submit">Reset Password</button></a>
                                                    
                                                        <!-- Modal -->
                                                        <div class="modal fade" id="Modal2" tabindex="-1" aria-labelledby="exampleModalLabel"
                                                        aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered">
                                                            <div class="modal-content">
                                                            <!-- <div class="modal-body"> -->
                                                            <form action="/<%=school%>/reset-password" method="POST" class="fh5co-form animate-box"
                                                                data-animate-effect="fadeIn" onsubmit='sub(event)'>
                                                                <button type="button" class="btn-close float-right" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>

                                                                <h2 class="modal-title" id="exampleModalLabel">Reset Password</h2>

                                                                <p style="color: red;"><%= message %></p>

                                                                <div class="form-group">
                                                                <label for="Current Password" class="sr-only">Current Password</label>
                                                                <input id="password" type="password" name="curr_pass" class="form-control"
                                                                    placeholder="Enter Current Password" autocomplete="off">
                                                                </div>

                                                                <div class="form-group">
                                                                <label for="New Password" class="sr-only">New Password</label>
                                                                <input id="new_password" type="password" name="new_pass" class="form-control" placeholder="Enter New Password"
                                                                    autocomplete="off">
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="New Password" class="sr-only">Confirm Password</label>
                                                                    <input id="conf_password" type="password" name="conf_pass" class="form-control" placeholder="Confirm New Password"
                                                                        autocomplete="off">
                                                                </div>

                                                                <div class="form-group">
                                                                <button type="submit" class="btn btn-primary">Change My Password</button>
                                                                </div>
                                                            </form>
                                                            </div>
                                                        </div>
                                                        </div>
                                                    </div>
                                        </div>
                                    </div>

                                    <!-- <h1>Reset Password</h1>
                                    <form action="/<%=school%>/reset-password" method="POST" onsubmit='sub(event)'>
                                        <label>Enter Current Password:</label>
                                        <input id="password" type="password" name="curr_pass">
                                        <label>Enter New Password:</label>
                                        <input id="new_password" type="password" name="new_pass">
                                        <label>Confirm Password:</label>
                                        <input id="conf_password" type="password" name="conf_pass">
                                        <button type="submit">Reset</button>
                                    </form> -->
                                    <div class="card shadow">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 font-weight-bold">Contact Settings</p>
                                        </div>
                                        <div class="card-body">
                                            <form action="<%=school%>/profile" method="POST">
                                                <div class="form-group"><label for="address"><strong>Address</strong></label><input class="form-control" type="text" placeholder="Sunset Blvd, 38" name="address"></div>
                                                <div class="form-row">
                                                    <div class="col-6">
                                                        <div class="form-group"><label for="Phone.No"><strong>Phone Number</strong></label><input class="form-control" type="tel" placeholder="+91" name="phone-number"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Save&nbsp;Settings</button></div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="card shadow mb-5">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">Forum Settings</p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <form>
                                        <div class="form-group"><label for="signature"><strong>Signature</strong><br></label><textarea class="form-control" rows="4" name="signature"></textarea></div>
                                        <div class="form-group">
                                            <div class="custom-control custom-switch"><input class="custom-control-input" type="checkbox" id="formCheck-1"><label class="custom-control-label" for="formCheck-1"><strong>Notify me about new replies</strong></label></div>
                                        </div>
                                        <div class="form-group"><button class="btn btn-primary btn-sm" type="submit">Save Settings</button></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © SCHUDLE 2021</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="/javascript/dashboard.min.js"></script>
    <script src="/javascript/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
  </script>
    <script>
        function sub(event) {

            event.preventDefault();
            var curr_pass = document.getElementById("password").value;
            var new_pass = document.getElementById("new_password").value;
            var conf_pass = document.getElementById("conf_password").value;
            if (new_pass === conf_pass) {

                $.ajax({
                    url: '/<%=school%>/reset-password',
                    type: 'post',
                    data: {
                        curr_pass: curr_pass,
                        new_pass: new_pass,
                    },
                    success: function (response) {
                        if (response.message == "saved") {
                            alert("Password updated");
                            window.location.replace("/" + response.schoolname + "/profile");
                        }
                        if (response.message == "current password incorrect") {
                            alert("current password incorrect");
                            window.location.reload();
                        }
                        if (response.message == "error404") {
                            window.location.replace("/error404");
                        }
                    }
                });
            } else {
                alert("Enter Confirm password correctly!");
            }
        }
    </script>
</body>

</html>