<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dashboard - Schudle</title>
    <link rel="stylesheet" href="/css/dashboard.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/fontawesome5-overrides.min.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0"><a
                    class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-text mx-3" style="text-transform: capitalize !important;">
                        <span>Schudle</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link active" href="/<%=school%>/student/dashboard"><i
                                class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/<%=school%>/profile"><i
                                class="fas fa-user"></i><span>Profile</span></a></li>
                    <li class="nav-item"><a class="nav-link"><i class="fas fa-book"></i><span>My Course</span></a>
                        <ul class="nav navbar-nav text-light" id="mycourses">
                            <%courses.forEach(function(course){%>
                            <li class="nav-item"><a role="button" class="nav-link text-capitalize"
                                    href="/<%=school%>/<%= course.id %>"><i
                                        class="fas fa-graduation-cap"></i><span><%=course.coursename%></span></a></li>
                            <%})%>
                        </ul>
                    </li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0"
                        id="sidebarToggle" type="button"><i class="fas fa-arrows-alt-h"></i></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3"
                            id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <div class="mr-auto ml-md-3 my-2 my-md-0 mw-100 text-lg text-uppercase" style="color: #61128c;">
                            <strong><%=school%></strong></div>
                        <ul class="nav navbar-nav flex-nowrap ml-auto">
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link"
                                        data-toggle="dropdown" aria-expanded="false" href="/<%=school%>/profile"><span
                                            class="d-none d-lg-inline mr-2 text-gray-600 small"><%=name%></span><img
                                            class="border rounded-circle img-profile"
                                            src="/images/team/shrushti.jpg"></a>
                                    <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in"><a
                                            class="dropdown-item" href="#"><i
                                                class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profile</a>
                                        <div class="dropdown-divider"></div>
                                        <form action="/<%=school%>" method="POST" id="logout"><button
                                                class="dropdown-item" type="submit" name="button" value="logout"><i
                                                    class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</button>
                                        </form>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0">Dashboard</h3>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 mb-4">
                            <div class="py-3 mb-4">
                                <h4 class="text-primary font-weight-bold m-0">Courses</h4>
                            </div>
                            <div class="row pr-4 pl-4">
                                <%courses.forEach(function(course){%>
                                <div class="col-lg-6" style="height: 400px;">
                                    <div class="card shadow mr-2 ml-2">
                                        <img class="card-img-top" src="/images/book2.jpg" style="height: 250px;"
                                            alt="Card image cap">
                                        <div class="card-body">
                                            <div class="row align-items-center no-gutters">
                                                <div class="col mr-2">
                                                    <h5 class="mb-0 text-uppercase" style="padding-bottom: 0.5rem;">
                                                        <strong>
                                                            <a role="button" href="/<%=school%>/<%= course.id %>">
                                                                <%=course.coursename%><br>
                                                            </a>
                                                        </strong>
                                                    </h5>
                                                    <p class="card-text"><span class="text-s">Details</span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <%})%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © SCHUDLE 2021</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="/javascript/dashboard.min.js"></script>
    <script type="text/javascript" src="/javascript/all.js"></script>
</body>