<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Welcome to student dashboard of
        <%=school%>
    </h1>
    <h3>No. of Courses :<%= courses.length %></h3>
    <%courses.forEach(function(course){ %>
        <p><%= course.coursename %> </p>
    <%})%>
    <form action="/<%=school%>" method="POST" id="logout">
        <button type="submit" name="button" value="logout">Logout</button>
    </form>

    <form action="/<%=school%>/reset_password" method="GET" id="logout">
        <button type="submit" name="button">Reset Password</button>
    </form>

</body>

</html>