<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view_submissions</title>
</head>
<body>
    <h1>Subbmission for <%=item.name%></h1>
    <%item.submissions.forEach(function(sub){ var subid= sub._id%>
        Name: <%=sub.fullname%>
        username: <%=sub.username%>
        Date: <%=sub.time.toLocaleDateString()%>
        time: <%=sub.time.toLocaleTimeString()%>
        <%if(sub.subType == "link"){%>
            <a href="<%=sub.link%>" target="_blank">View submission</a>
        <%}else{%>            
            <form action="/<%=school%>/download/<%= sub.name %>.<%= sub.extension %>/<%= sub.googleid %>" method="POST">
                <button type="submit">View Submission</button>
            </form>
        <%}%>

        <%if(sub.pointsobtained){%>
           <label> Awarded : <%=sub.pointsobtained%></label>
        <%} else{%>
            <label> Yet to be graded</label>
        <%}%>

        <form name="<%=sub._id%>" action="/<%=school%>/<%=courseid%>/<%=item._id%>/grade" method="POST">
            <input type="Number" name="points" min="0" max="<%=item.totalpoints%>">
            <button type="submit" name="subid" value="<%=sub._id%>">Grade</button>
        </form>
        <hr>
    <%})%>

    <form action="/<%=school%>/<%=courseid%>" method="GET">
        <button type="submit">Course Page</button>
    </form>
</body>
</html>