<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
    <div class="container-fluid d-flex flex-column p-0"><a
            class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
            <div class="sidebar-brand-text mx-3" style="text-transform: capitalize !important;">
                <span>Schudle</span></div>
        </a>
        <hr class="sidebar-divider my-0">
        <ul class="nav navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item"><a class="nav-link" id="admin_dash" href="/<%=school%>/admin/dashboard"><i
                        class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>

            <li class="nav-item"><a class="nav-link" id="admin_profile" href="/<%=school%>/profile"><i
                        class="fas fa-user"></i><span>Profile</span></a></li>

            <li class="nav-item"><a class="nav-link" href="/<%=school%>/admin/createprof"><i
                        class="fas fa-user-tie"></i><span>Register Professor</span></a></li>

            <li class="nav-item"><a class="nav-link" href="/<%=school%>/admin/createstudent"><i
                        class="fas fa-user-graduate"></i><span>Register Student</span></a></li>
            
            <li class="nav-item"><a class="nav-link" id="delete_user" href="/<%=school%>/admin/deleteUser"><i
                        class="fas fa-user-times"></i><span>Delete User</span></a></li>            

            <li class="nav-item"><a class="nav-link" href="/<%=school%>/admin/createcourse"><i
                        class="fas fa-book"></i><span>Create Course</span></a></li>

            <li class="nav-item"><a class="nav-link" id="admin_events" href="/<%=school%>/admin/eventpage"><i
                        class="fas fa-calendar-alt"></i><span>Events</span></a></li>

            <li class="nav-item"><a class="nav-link" href="/<%=school%>/admin/configure"><i
                        class="fas fa-tools"></i><span>Configuration</span></a></li>
        </ul>
        <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0 shadow-none"
                id="sidebarToggle" type="button"><i class="fas fa-arrows-alt-h"></i></button></div>
    </div>
</nav>
<script>
    // console.log(location.pathname.split("/").pop());
    var filename=location.pathname.split("/").pop();
    if(filename === "dashboard"){
        document.getElementById("admin_dash").classList.add("active");
    }
    else if(filename === "profile"){
        document.getElementById("admin_profile").classList.add("active");
    }
    else if(filename === "eventpage"){
        document.getElementById("admin_events").classList.add("active");
    }
    else if(filename === "deleteUser"){
        document.getElementById("delete_user").classList.add("active");
    }
</script>