<nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3 shadow-none"
            id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
        <div class="mr-auto ml-md-3 my-2 my-md-0 mw-100 text-lg text-uppercase" style="color: #61128c;">
            <strong><%=school%></strong></div>
        <ul class="nav navbar-nav flex-nowrap ml-auto">
            <div class="d-none d-sm-block topbar-divider"></div>
            <li class="nav-item dropdown no-arrow">
                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link"
                        data-toggle="dropdown" aria-expanded="false" href="#">
                        <span class="d-none d-lg-inline mr-2 text-gray-600 small">
                            <%=name%>
                        </span>
                        <img class="border rounded-circle img-profile"
                            src="data:image/<%=info.profileimg.contentType%>;base64,
                            <%=info.profileimg.data.toString('base64')%>"></a>
                    <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in"><a
                            class="dropdown-item" href="/<%=school%>/profile"><i
                                class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profile</a>
                        <div class="dropdown-divider"></div>
                        <form action="/<%=school%>" method="POST" id="logout"><button
                                class="dropdown-item" type="submit" name="button" value="logout"><i
                                    class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</button>
                        </form>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>